.root {
    -fx-font-family: "Segoe UI";
    -fx-background-color: #f7fafc;
}

.card {
    -fx-background-color: white;
    -fx-background-radius: 18;
    -fx-padding: 32;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.15), 20, 0, 0, 10);
}

.icon-circle {
    -fx-background-color: #15BF8F;
    -fx-background-radius: 50;
    -fx-alignment: center;
}

.title {
    -fx-font-size: 30px;
    -fx-font-weight: bold;
    -fx-text-fill: #1f2937;
}

.input {
    -fx-pref-width: 360;
    -fx-pref-height: 44;
    -fx-background-color: white;
    -fx-border-color: #e2e8f0;
    -fx-border-radius: 8;
    -fx-background-radius: 8;
}

.input:focused {
    -fx-border-color: #15BF8F;
}

.input-small {
    -fx-pref-width: 170;
    -fx-pref-height: 44;
    -fx-background-color: white;
    -fx-border-color: #e2e8f0;
    -fx-border-radius: 8;
    -fx-background-radius: 8;
}

.btn-primary {
    -fx-background-color: #15BF8F;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-background-radius: 12;
    -fx-cursor: hand;
}

.btn-primary:hover {
    -fx-background-color: #12a87d;
}

.link-btn {
    -fx-background-color: transparent;
    -fx-text-fill: #15BF8F;
    -fx-font-weight: bold;
    -fx-underline: true;
    -fx-cursor: hand;
}

.hint-text {
    -fx-text-fill: #6b7280;
    -fx-font-size: 14px;
}

.btn-back {
    -fx-background-color: white;
    -fx-border-color: #15BF8F;
    -fx-text-fill: #15BF8F;
    -fx-font-weight: bold;
    -fx-background-radius: 6;
    -fx-border-radius: 6;
    -fx-cursor: hand;
}
